@model IReadOnlyList<Solution>
@{
    ViewData["Title"] = "Submission";
    ViewData["RefreshSpan"] = 30;
    if (ViewData.ContainsKey("InAjax")) { Layout = null; }
    int correct = 0, total = 0;
}

@section Header {
    <h2 class="mt-2">Submissions</h2>
    <p style="font-size:1.1em">
        Show submissions:
        <a asp-action="List" asp-route-all="false">newest</a>
        |
        <a asp-action="List" asp-route-all="true">all</a>
    </p>
}

<vc:solution-list model="Model" show-ip="false" show-problems="true" show-teams="true" />
