@model ProblemModel 
@{
    Layout = "_WindowLayout";
    ViewData["MaxWidth"] = "800px";
    ViewData["Title"] = "Description";
    ViewData["DisableAjaxRefresh"] = true;
}

<div class="alert alert-danger" asp-show-if="string.IsNullOrWhiteSpace(Model.Statement)">
    No description available.
</div>

<div id="problem-descibe" asp-show-if="!string.IsNullOrWhiteSpace(Model.Statement)">
    @Html.Raw(Model.Statement)
</div>

<style>
    #problem-descibe p {
        font-size: 1.05em;
    }

    #problem-descibe p > code, #problem-descibe li > code {
        font-size: 100%;
        background: rgba(27, 31, 35, 0.05);
        color: #24292e;
        padding: .2em .4em;
        border-radius: .2em;
    }

    #problem-descibe span.katex-src ~ .katex {
        font-size: 1.1em;
    }

    .window-card > h1 {
        display: none;
    }
</style>
