@model AddRejudgingModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Add rejudging";
}

<input type="hidden" asp-for="Submission" />
<div class="form-group">
    <label asp-for="Reason"></label>
    <input asp-for="Reason" class="form-control" required />
</div>

@section Footer {
    <button asp-controller="JuryRejudgings" asp-action="Add" type="submit" class="btn btn-primary">Begin</button>
}
