@{
    ViewData["Title"] = "Pending";
}

<h1 id="teamwelcome" class="text-center">
    Welcome <span id="teamwelcometeam">@Contest.Team?.TeamName</span>!
</h1>
<h2 id="contestnotstarted" class="text-center">
    Contest has not been started
</h2>
