@model JuryAssignModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Assign jury";
}

<div class="alert alert-primary">
    If you want to change someone's permission, please remove that one
    out of the permission list first and then add that one into the list
    with the target permission.
</div>

<div class="form-group">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" onblur="oncheck($(this).val())" class="form-control" required />
    <small id="tryUser" class="text-danger"></small>
</div>

<div class="form-group">
    <label>Permission Level</label>
    <div class="custom-control custom-radio">
        <input type="radio" asp-for="Level" id="level-reader" class="custom-control-input" value="@JuryLevel.BalloonRunner" />
        <label class="custom-control-label" for="level-reader">Balloon Runner (only balloon and printings)</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" asp-for="Level" checked id="level-writer" class="custom-control-input" value="@JuryLevel.Jury" />
        <label class="custom-control-label" for="level-writer">Jury (with most of the management features)</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" asp-for="Level" id="level-creator" class="custom-control-input" value="@JuryLevel.Administrator" />
        <label class="custom-control-label" for="level-creator">Administrator (with several dangerous features)</label>
    </div>
</div>

@section Footer {
    <button asp-action="Assign" type="submit" class="btn btn-primary">Save</button>
}

@section Scripts {
    <script>
        function oncheck(val) {
            if (val === '') {
                $('#tryUser').text('Please enter the username.');
            } else if (val.indexOf('/') !== -1 || val.indexOf('#') !== -1 || val.indexOf('?') !== -1) {
                $('#tryUser').text('Please enter a valid username.');
            } else {
                ajaxget('@Url.Action("TestUser", new { userName = "_USER_NAME_" })'.replace('_USER_NAME_', val),'#tryUser')
            }
        }
    </script>
}
