@model JuryEditModel
@{
    ViewData["Title"] = "Edit contest";
    IReadOnlyDictionary<int, Tenant.Entities.Category> cats = ViewBag.Categories;
    var catSel = cats.Values.Select(c => new SelectListItem(c.Name, c.Id.ToString()));
    IReadOnlyList<Language> langs = ViewBag.Languages;
    var langSel = langs.Select(c => new SelectListItem(c.Name, c.Id));
    var providers = RPBinderAttribute.Get(Context);
}

<h2 class="mt-2">Edit contest @Model.ContestId</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ContestId" />
    <input type="hidden" asp-for="StopTime" value="+0:00:00" asp-show-if="Contest.Kind == CcsDefaults.KindProblemset" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="form-group">
                <label asp-for="ShortName" class="required"></label>
                <input type="text" asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="required"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">
                <label asp-for="StartTime" class="required"></label>
                <input type="datetime" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">
                <label asp-for="FreezeTime"></label>
                <input type="text" asp-for="FreezeTime" class="form-control" />
                <span asp-validation-for="FreezeTime" class="text-danger"></span>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">
                <label asp-for="StopTime" class="required"></label>
                <input type="text" asp-for="StopTime" class="form-control" />
                <span asp-validation-for="StopTime" class="text-danger"></span>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">
                <label asp-for="UnfreezeTime"></label>
                <input type="text" asp-for="UnfreezeTime" class="form-control" />
                <span asp-validation-for="UnfreezeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankingStrategy"></label>
                <select class="form-control" asp-for="RankingStrategy">
                    <option value="0">XCPC style</option>
                    <option value="1">IOI style</option>
                    <option value="2" asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">Codeforces style</option>
                </select>
                <span asp-validation-for="RankingStrategy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Languages">Languages</label>
                <select asp-for="Languages" class="form-control custom-select form-control" multiple asp-items="langSel"></select>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind != CcsDefaults.KindDom">
                <label asp-for="StatusAvailable"></label>
                <div class="custom-control custom-radio">
                    <input type="radio" value="0" class="custom-control-input" id="StatusAvailable_0" asp-for="StatusAvailable">
                    <label class="custom-control-label" for="StatusAvailable_0">Users can see only his submissions</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" value="1" class="custom-control-input" id="StatusAvailable_1" asp-for="StatusAvailable">
                    <label class="custom-control-label" for="StatusAvailable_1">Users can see all submissions</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" value="2" class="custom-control-input" id="StatusAvailable_2" asp-for="StatusAvailable">
                    <label class="custom-control-label" for="StatusAvailable_2">Users can see submissions for problems he solved</label>
                </div>
                <span asp-validation-for="StatusAvailable" class="text-danger"></span>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind == CcsDefaults.KindDom">
                <label>Others</label>
                <div class="custom-control custom-checkbox" asp-show-if="Contest.RankingStrategy == CcsDefaults.RuleXCPC">
                    <input type="checkbox" class="custom-control-input" asp-for="UseBalloon">
                    <label class="custom-control-label" asp-for="UseBalloon"></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="UsePrintings">
                    <label class="custom-control-label" asp-for="UsePrintings"></label>
                </div>
                <div class="custom-control custom-checkbox" asp-show-if="Contest.RankingStrategy == CcsDefaults.RuleXCPC">
                    <input type="checkbox" class="custom-control-input" asp-for="UseEvents">
                    <label class="custom-control-label" asp-for="UseEvents"></label>
                </div>
            </div>
            <div class="form-group" asp-show-if="Contest.Kind == CcsDefaults.KindDom">
                <label>Access Restrictions</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="RestrictToMinimalSite">
                    <label class="custom-control-label" asp-for="RestrictToMinimalSite"></label>
                </div>
                <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input" asp-for="RestrictToLastLoginIp">
                    <label class="custom-control-label" asp-for="RestrictToLastLoginIp"></label>
                </div>
                <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input restrict-to-ip-ranges" asp-for="RestrictToIpRanges">
                    <label class="custom-control-label" asp-for="RestrictToIpRanges"></label>
                </div>
                <div class="ml-4 mt-1 @(Model.RestrictToIpRanges ? "" : "d-none")" id="restrict-to-ip-ranges-value">
                    <input asp-for="IpRanges" class="form-control" placeholder="IP ranges like 0.0.0.0/32;[::]/128" />
                </div>
            </div>
            <div class="form-group">
                <label>Visiblity</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="IsPublic">
                    <label class="custom-control-label" asp-for="IsPublic"></label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RegisterCategory">Self-registration category</label>
                @foreach (var (id, provider) in providers.Where(p => !p.Item2.JuryOrContestant))
                {
                    Model.RegisterCategory.TryAdd(id, 0);
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="font-size:1em;width:auto" asp-for="RegisterCategory[id]">@provider.FancyName</label>
                        </div>
                        <select class="custom-select" asp-for="RegisterCategory[id]" asp-items="catSel">
                            <option value="0">-- Registration Closed --</option>
                        </select>
                    </div>
                }
                <span asp-validation-for="RegisterCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <b>Specification of short name:</b><br />
            Note that the short name will display on the title bar. <br /><br /><br />

            <razor asp-show-if="Contest.Kind != CcsDefaults.KindProblemset">
            <b>Specification of contest times:</b><br />
            Each of the contest times can be specified as absolute time or relative
            to the start time (except for start time itself).<br /><br />
            Absolute time format: <b><tt>YYYY-MM-DD HH:MM:SS</tt></b><br />
            Relative time format: <b><tt>+[HHH]H:MM:SS</tt></b><br /><br /><br />
            </razor>

            <b>Specification of ranking strategy:</b><br />
            If the XCPC-style is chosen, any rejected solutions before accepted
            solutions excluding compiler-error will be 20 minutes penalty. Ranking
            will take the count of solved problems and total penalty into
            consideration.<br />
            If the IOI-style is chosen, ranking will take the points from each
            testcase into total.<br />
            If the Codeforces-style is chosen, points gained from solving problems
            will be calculated with the submitting time. Each re-submission will
            cause 50 points decrease.<br /><br /><br />

            <b>Specification of languages:</b><br />
            If one language was chosen, the language will be enabled for submitting
            if and only if it is enabled in both global and contest.<br />
            If no languages were chosen, the submit settings will be inherited from global.<br />
            The allow-judge settings should be configured in global.<br /><br /><br />

            <b>Specification of visibility:</b><br />
            For setting the available affiliations, please refer to the
            <a asp-controller="JuryAffiliations" asp-action="List" target="_blank">Team Affiliation</a>
            page.<br />
            If the contest is set as globally visible, then the settings for affiliation
            visibility will be ignored.<br />
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn-primary btn">Save</button>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap.min.css">
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");
            $('select[multiple]').select2();
            $('.restrict-to-ip-ranges').change(function () {
                if ($(this).prop('checked')) {
                    $('#restrict-to-ip-ranges-value').removeClass('d-none');
                } else {
                    $('#restrict-to-ip-ranges-value').removeClass('d-none').addClass('d-none');
                }
            });
        });
    </script>
}
