@model SynchronizationOptionsModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Synchronize the submissions";
}
<div class="form-group">
    <label asp-for="ChosenProblems">Problems</label>
    <select asp-for="ChosenProblems" class="form-control custom-select form-control" multiple asp-items="@(Model.Problems.Select(a => new SelectListItem($"{a.ShortName} - {a.Title}", $"{a.ProblemId}")))"></select>
</div>

@section Footer {
    <button asp-action="SynchronizeExecute" type="submit" class="btn btn-primary">Begin</button>
}

@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap.min.css">
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");
            $('select[multiple]').select2();
        });
    </script>
}
