@model SynchronizationOptionsModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Synchronize the submissions";
}

<div class="alert alert-danger" id="during-sync">
    During synchronization, please don't close the browser window.
</div>

<div class="alert alert-success" id="after-sync" style="display:none;">
    Synchronization has stopped. You can close this page safely.
</div>

<div id="sync-report">

</div>

@section Scripts {
    <script>
        $(function () {
            var $status = $('div#sync-report');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '@Url.Action()', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onprogress = function (e) {
                $status.html(e.currentTarget.response);

                // Scroll page to bottom of div to keep showing progress
                $('html, body').animate({ scrollTop: $status.offset().top + $status.height() }, 0);
            };

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    $('#during-sync').hide();
                    $('#after-sync').show();
                }
            };

            var $rvt = $('input[name="__RequestVerificationToken"]').val();
            var $formValues = [@(string.Join(',', Model.ChosenProblems))];
            var $req = '__RequestVerificationToken=' + $rvt;
            for (var $i = 0; $i < $formValues.length; $i++) {
                $req = $req + '&ChosenProblems=' + $formValues[$i];
            }

            xhr.send($req);
        });
    </script>
}
