@model AddTeamByGroupModel
@{
    Layout = "_WindowLayout";
    var ctx = Context.GetContestContext();
    var affs = await ctx.FetchAffiliationsAsync(false);
    var cats = await ctx.FetchCategoriesAsync(false);
    ViewData["Title"] = "Group register";
    //var cls = ((IEnumerable<Tenant.Entities.Class>)ViewBag.Class).Select(c => new SelectListItem(c.Name, $"{c.Id}"));
}

<div class="form-group">
    <label asp-for="GroupId"></label>
    <select required class="form-control custom-select form-control" asp-for="GroupId"></select>
</div>
<div class="form-group">
    <label asp-for="AffiliationId"></label>
    <select required class="form-control custom-select form-control" asp-for="AffiliationId" asp-items="@affs.Values.Select(a => new SelectListItem(a.Name, $"{a.Id}"))"></select>
</div>
<div class="form-group">
    <label asp-for="CategoryId"></label>
    <select required class="form-control custom-select form-control" asp-for="CategoryId" asp-items="@cats.Values.Select(c => new SelectListItem(c.Name, $"{c.Id}"))"></select>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="AddNonTemporaryUser">
        <label class="custom-control-label" asp-for="AddNonTemporaryUser"></label>
    </div>
</div>

@section Footer {
    <button type="submit" asp-action="ByGroup" class="btn btn-primary">Submit</button>
}
