@model ProblemModel
@{
    Layout = "_WindowLayout";
    Contest ctx = ViewBag.Contest;
    ViewData["Title"] = "Edit problem";
    ViewData["FormAjaxUpload"] = Url.Action("Edit");
}

<input type="hidden" asp-for="ContestId" />
<input type="hidden" asp-for="ProblemId" />
<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label for="test">Problem ID</label>
    <input id="test" readonly class="form-control" required value="@($"{Model.ProblemId} - {Model.Title}")" />
</div>
<div class="form-group">
    <label asp-for="ShortName">Short name</label>
    <input asp-for="ShortName" class="form-control" required />
</div>
<div class="form-group" asp-show-if="ctx.RankingStrategy == 1">
    <label asp-for="Score">CF Mode Score</label>
    <input asp-for="Score" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Color"></label>
    <input asp-for="Color" class="color form-control" />
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="AllowSubmit">
        <label class="custom-control-label" asp-for="AllowSubmit">Allow submit</label>
    </div>
</div>

@section Footer {
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts {
    <script src="~/lib/jscolor/jscolor.min.js"></script>
    <script>jscolor.dir = "/lib/jscolor/"; jscolor.bind();</script>
}
