@using Xylab.Contesting.Registration
@{
    IRegisterProvider provider = ViewBag.Provider;
    RegisterProviderContext context = ViewBag.Context;
    Layout = "_WindowLayout";
    var output = provider.CreateInputRenderer(ViewContext, (object)Model, ModelExpressionProvider, Json, Component, Url);
    await provider.RenderInputAsync(context, output);
    ViewData["Title"] = output.Title;
}

@output

@section Footer {
    <button asp-action="Import" type="submit" class="btn btn-primary">Import</button>
}