@{
    bool disabled_ = (Contest.GetState() < ContestState.Started && !Contest.IsJury) || !Contest.IsTeamAccepted;
    string disableClass = disabled_ ? "disabled" : "";
}

<div id="submitbut">
    <a class="nav-link justify-content-center @disableClass" data-toggle="ajaxWindow" data-target="submit" asp-controller="DomTeam" asp-action="Submit">
        <button type="button" class="btn btn-success btn-sm @disableClass">
            <i class="fas fa-cloud-upload-alt"></i> Submit
        </button>
    </a>
</div>
