@{
    ViewData["Title"] = "Access Denied";
}

<h1 id="teamwelcome" class="text-center">403 Forbidden</h1>
<h2 id="contestnotstarted" class="text-center">Access environment is restricted.</h2>
<p class="text-center text-danger">
    Your environment doesn't meet all the policies.
    Please contact a staff member for assistance.
</p>
